<% if notice.present? %>
  <div class="alert-success"><%= notice %></div>
<% end %>

<%= render @list %>

<div class="flex gap-4 mt-6">
  <%= link_to "Back to lists", lists_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy this list", @list, method: :delete, class: "btn btn-danger" %>
</div>
