<%# ~*~ MY WEB APPS ~*~ %>

<div class="construction-banner">
  <div class="construction-banner-inner">
    <span>&#9888;</span> UNDER CONSTRUCTION <span>&#9888;</span> UNDER CONSTRUCTION <span>&#9888;</span>
  </div>
</div>

<div class="geo-header">
  <h1>&#128187; My Apps! &#128187;</h1>
  <div class="subtitle">&#10024; Things I've built on the Information Superhighway &#10024;</div>
</div>

<hr class="rainbow-hr">

<p style="text-align: center;"><%= link_to "&laquo; Back to Homepage".html_safe, root_path %></p>

<hr class="rainbow-hr">

<table class="geo-table">
  <tr>
    <td class="main-content" style="width: 100%;">

      <div style="text-align: center;">
        <p style="color: #ff8800; font-weight: bold; font-size: 22px;">&#128722; Ruby Shopping List</p>

        <p style="color: #88ff88; font-size: 15px;">
          A <span class="blink" style="color: #ffff00;">NEW</span> shopping list app built with
          <span style="color: #ff88ff;">Ruby on Rails 8.1</span>!
        </p>

        <hr class="rainbow-hr">

        <p style="color: #cccccc; font-size: 14px;">Features include:</p>
        <ul style="list-style-type: '&#10003; '; padding-left: 25px; text-align: left; display: inline-block;">
          <li style="color: #88ffff;">Create and manage multiple shopping lists</li>
          <li style="color: #88ffff;">Share lists with groups of people</li>
          <li style="color: #88ffff;">Drag-and-drop item reordering</li>
          <li style="color: #88ffff;">Meal planning with your lists</li>
          <li style="color: #88ffff;">Swipe-to-reveal item actions (mobile)</li>
          <li style="color: #88ffff;">Subscribe to items from other groups</li>
        </ul>

        <hr class="rainbow-hr">

        <p style="color: #cccccc; font-size: 13px;">
          Built with: <span style="color: #ff6666;">Ruby 3.3</span> &bull;
          <span style="color: #ff6666;">Rails 8.1</span> &bull;
          <span style="color: #ffff88;">Hotwire (Turbo + Stimulus)</span> &bull;
          <span style="color: #88ccff;">SQLite3</span>
        </p>

        <br>
        <a href="/shopping/" class="geo-button">&#128722; Enter Shopping List App &#128722;</a>
        <br><br>
        <p style="color: #888888; font-size: 11px;">(Requires login &mdash; it's FREE to sign up!!)</p>
      </div>

      <hr class="rainbow-hr">

      <div style="text-align: center; padding: 15px 0;">
        <p style="color: #666699; font-size: 14px;">&#128203; More apps coming soon...</p>
        <p style="color: #444466; font-size: 12px;">This page will be updated as I build more things!</p>
      </div>

    </td>
  </tr>
</table>

<hr class="rainbow-hr">

<p style="text-align: center;"><%= link_to "&laquo; Back to Homepage".html_safe, root_path %></p>
