<%# ~*~ COOL LINKS ~*~ %>

<div class="construction-banner">
  <div class="construction-banner-inner">
    <span>&#9888;</span> UNDER CONSTRUCTION <span>&#9888;</span> UNDER CONSTRUCTION <span>&#9888;</span>
  </div>
</div>

<div class="geo-header">
  <h1>&#127760; Cool Links &#127760;</h1>
  <div class="subtitle">&#10024; The best sites on the World Wide Web &#10024;</div>
</div>

<hr class="rainbow-hr">

<p style="text-align: center;"><%= link_to "&laquo; Back to Homepage".html_safe, root_path %></p>

<hr class="rainbow-hr">

<table class="geo-table">
  <tr>
    <td class="main-content" style="width: 100%;">

      <p style="color: #ff8800; font-weight: bold; font-size: 18px;">&#128640; Programming</p>
      <ul style="list-style-type: '&#9733; '; padding-left: 25px;">
        <li><a href="https://rubyonrails.org">Ruby on Rails</a> &mdash; The best web framework!! Build web apps at lightning speed</li>
        <li><a href="https://www.ruby-lang.org">Ruby Language</a> &mdash; A programmer's best friend. Elegant and expressive</li>
        <li><a href="https://react.dev">React</a> &mdash; The library for building user interfaces</li>
        <li><a href="https://www.typescriptlang.org">TypeScript</a> &mdash; JavaScript but with types. Life changing!</li>
      </ul>

      <hr class="rainbow-hr">

      <p style="color: #ff8800; font-weight: bold; font-size: 18px;">&#127912; Retro Web</p>
      <ul style="list-style-type: '&#9733; '; padding-left: 25px;">
        <li><a href="https://cameronsworld.net">Cameron's World</a> &mdash; Beautiful GeoCities tribute. A love letter to the old web</li>
        <li><a href="https://web.archive.org">The Wayback Machine</a> &mdash; Explore the old web! See how sites looked in the 90s</li>
        <li><a href="https://theoldnet.com">The Old Net</a> &mdash; Browse the 90s web through a retro browser proxy</li>
        <li><a href="https://poolsuite.net">Poolsuite</a> &mdash; Retro-styled internet radio. Pure vibes</li>
      </ul>

      <hr class="rainbow-hr">

      <p style="color: #ff8800; font-weight: bold; font-size: 18px;">&#128218; Learning</p>
      <ul style="list-style-type: '&#9733; '; padding-left: 25px;">
        <li><a href="https://exercism.org">Exercism</a> &mdash; Free code practice and mentoring in 70+ languages</li>
        <li><a href="https://www.destroyallsoftware.com">Destroy All Software</a> &mdash; Screencasts on advanced programming topics</li>
        <li><a href="https://pragprog.com">The Pragmatic Bookshelf</a> &mdash; Amazing programming books since forever</li>
      </ul>

      <hr class="rainbow-hr">

      <p style="color: #ff8800; font-weight: bold; font-size: 18px;">&#127925; Fun Stuff</p>
      <ul style="list-style-type: '&#9733; '; padding-left: 25px;">
        <li><a href="https://www.youtube.com">YouTube</a> &mdash; You know what it is. Endless rabbit holes await</li>
        <li><a href="https://neal.fun">Neal.fun</a> &mdash; Interactive web experiments. Spend hours here</li>
      </ul>

    </td>
  </tr>
</table>

<hr class="rainbow-hr">

<p style="text-align: center; color: #888888; font-size: 12px;">
  Know a cool link I should add? <%= link_to "Sign my guestbook", guestbook_path %> and let me know!
</p>

<p style="text-align: center;"><%= link_to "&laquo; Back to Homepage".html_safe, root_path %></p>
