<h1>All items in <%= @group.name %></h1>

<% if @items.any? %>
  <div class="card">
    <ul id="items">
      <% @items.each do |item| %>
        <li class="list-item">
          <%= link_to item.name, item %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="text-center max-w-md" style="margin: 2rem auto;">
    <p class="text-lg">No items yet. Add items from your shopping lists to see them here.</p>
  </div>
<% end %>
