body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 0.875em;
  gap: 0.5rem;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  background: lightblue;
}

nav {
  & a {
    display: inline-block;
  }

  & .dropdown-menu {
    position: absolute;
    background: lightblue;
    border: 1px solid darkblue;
    list-style: none;
    padding: 0.5rem;

    & li {
      margin: 0.5rem 0;
      min-height: 44px;
    }
  }
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

section.item {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

section.item img {
  border-radius: 8px;
  flex-basis: 50%;
  max-width: 50%;
}
